body{
    background-color: rgb(56, 56, 56);
    margin: 0;
}

section{
    
    background-color: rgb(145, 133, 118);
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    height: 35em;
    border-radius: 1%;
}
section h1{
    font-family: 'Rubik Marker Hatch', cursive;
    text-shadow:3px 2px rgb(90, 84, 84);
    margin-top: 5em;
    padding-top: 2em;
    width: 100%;
    text-align: center;
    height: 2em;
    size: 2em;
    
}

section .container{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.exibir, .limpar{
    font-family: 'Carter One', cursive;;
    color: whitesmoke;
    background-color: rgb(50, 73, 73);
    margin-left: 1em;
    border-radius: 1em;

}

.exibir:hover, .limpar:hover{
    background-color: rgb(84, 119, 119);
    opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
}

.valores{
    font-family: 'Carter One', cursive;
    border-radius: 1em;
    text-align: center;
    
}
.valores:hover{
    opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;

}

.resultado{
    margin-top: 2em;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Carter One', cursive;
 
}

.valor{
    font-family: 'Rubik Marker Hatch', cursive;
    margin-left: 5em;
    
    
}